div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
/* background-color: chocolate; */
background-image: linear-gradient(to left top, #ff6909, #fb842f, #f79c4e, #f4b06f, #f0c392);
  color: #222;
}

/* 
main {
  display: flex;
  flex-grow: 1;
 
*/

aside {
  min-width: 240px;
  
}
section.page {
  flex-grow: 1;
 
}

/* footer {
  background-image: linear-gradient(135deg, #777, #111);
  color: white;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  height: 300px;
  margin-bottom: 50px;
} */

/* section{
  width: 100%;
} */

body::-webkit-scrollbar {
  width: 0.75em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(238, 170, 107);
  outline: 1px solid slategrey;
}