#item {
  background-color: rgba(17, 22, 17, 0.541);
  height: auto;
  width: 98%;
  color: honeydew;
  margin-left: 5px;
}

.scrollList {
  height: 600px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

#styleScroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 3px;
}

#styleScroll::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#styleScroll::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

#commentDate {
  float: right;
}

#noCommentsYet {
  background-color: rgba(238, 255, 247, 0.486);
  width: 100%;
  text-align: center;
  font-size: 20px;
}
