.img-carousel {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.testclass {
  z-index: initial;
  position: absolute;
}

.header-text {
  text-align: center;
  position: absolute;
  left: 50%;
  color: rgb(241, 238, 238);
  font-size: 60px;
}

h3 {
  font-size: 114px;
}

.header-text button:hover {
  opacity: 0.6;
  background-color: #555;
  color: white;
  text-decoration: none;
  border: none;
}

.header-text button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 30px;
  margin: 4px 6px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 10px;
  text-decoration: none;
}
.header-text a {
  color: white;
  text-decoration: none;
}
