.mainThings {
  background-image: linear-gradient(#ffe7ce, rgb(255, 161, 9));
}

.slickCss {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  margin-top: 30px;
}

.slickCss img {
  height: 200px;
}

.slickCss h2 {
  background-color: rgba(12, 12, 11, 0.596);
  color: blanchedalmond;
  width: 50%;
  border-radius: 10px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardThings {
  height: 320px;
}

.cardThings .card-body {
  padding: 10px;
}

.slick-slide {
  padding: 0 15px;
}

.headerThings {
  background: rgb(255, 161, 9);
}
.headerThings h1 {
  font-size: 100px;
}
